<%- include ../partials/header.ejs %>
  <h1>Welcome to Flyers</h1>

  <div class="landing-wrapper">
    <a class="/login" href="">Login</a>
    <a class="/signup" href="">Signup</a>
  </div>

<%- include ../partials/footer.ejs %>
