<nav class="navbar">
  <a href="/"><img class="flyer-logo" src="/images/flyers.png" alt=""></a>
  <div class="landing-wrapper">
    <a class="/login" href="">Login</a>
    <a class="/signup" href="">Signup</a>
    <a href="/events/new">New Event</a>
  </div>
</nav>
