<nav>
  <a href="/"><img src="/images/flyers.png" alt=""></a>
  <form method="post" action="/events/find" class="search-form">
    <input name="input" type="search" placeholder="search events" value="" autofocus/>
    <input type="submit" style="display: none" />
  </form>
  <a href="/events/new">New Event</a>
</nav>
